@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Custom dark mode color for improved contrast */
.dark\:bg-gray-750 {
  background-color: rgb(38, 44, 55);
}
